@media (max-width: 2560px) {
    .burger-bar {
        display: none;
    }
}
@media (max-width: 1024px){
    .burger-bar {
        display: none;
    }
    .input-cl::placeholder {
        width: 100%;
    }
    .input-cl {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .burger-bar {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .input-cl::placeholder {
      
    }
    .date {
        width: 80%;
        margin: auto ;
    }
    .button {
        width: 50%;
    }
    .f-divs {
        max-width: 143px;
    }
    .form-size {
        width: 80%;
    }
    .diiiv {
        max-width: 322px;
    }
    .diiiv-2 {
        
    }
    .sec3-h2 {
        font-size: 35px;
    }
    .Y-buble {
        max-width: 67px;
    }
    .bubble {
        max-width: 322px;
    }
    .sec3-h4 {
        font-size: 20px;
    }
    .sec3-P {
        font-size: 15px;
    }
    .sec3-h4div {
        padding-top: 11px;
    }
    .H4-divs {
        padding-top: 50px;
    }
    .footer-container {
        padding-top: 150px;
        margin: 0 auto;
    }
    
}