/* header styles */
.header {
   padding: 32px 0;
   background-color: aliceblue;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
}
.header-main-div {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #000000;
}
.header-nav {
    display: flex;
}
.ul-lists {
    display: flex;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
}
.li-item {
    position: relative;
}
.li-item::after {
    content: '' ;
    height: 3.25px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F1BC00;
    transition: all 0.8s;
}
.li-item:hover::after {
    width: 100%;
}
.login-div {
    display: flex;
    align-items: center;
    color: #000000;
}
.login {
    color: #000000;
    margin-left: 10.5px;
}
.burger-bar {
    width: 20px;
}
/* section styles */
.sec-back {
    background-image: url(/images/banner\ lambo\ 1.png);
    height: 900px;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.nd-sec {
    background-image: url(/images/banner\ iphone11.png);
    height: 200px;
}

.section-div {
    width: 90%;
    max-width: 1348px;
    height: 375px;
    background-color: #C4C4C4;
    margin: 46px auto;
   
}
.h-2 {
   padding-top: 49px;
    margin-left: 65px;
    font-size: 39px;
}
.P-1 {
   padding-top: 49px;
    margin-left: 65px;
    font-size: 24px;
    max-width: 787px;
}
.form-div {
    width: 90%;
    max-width: 1200px;
    height: 63px;
    display: flex;
    margin-top: 45px;
    margin-left: 65px;
    column-gap: 40px;
}
.f-divs {
   width: 310px;
    height: 62px;
    border-radius: 26px;
    background-color: #FFF9F9;
    display: flex;
   justify-content: center;
   align-items: center;
}
.book {
    width: 153px;
    height: 62px;
    background-color: #21408E;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.image-pl {
    margin: auto 81px auto 199px;
}
.input-cl {
    border: none;
    width: 200px;
    height: 50px;
    background-color: #FFF9F9;
    outline: none; 
}
.date {
    border: none;
    outline: none;
   width: 200px;
    height: 50px;
    background-color: #FFF9F9;
}
.button {
    background-color: #FFF9F9;
    border: none;
    outline: none;
    height: 50px;
}
.book-text {
    color: #FFFFFF;
    font-size: 22px;
}
